/*
*  styles for course-related elements
*/


.pet-id{
    width: 130px
}

.owner-id {
    width: 400px
}

.pet-type {
    width: 150px
}

.pet-breed {
    width: 200px
}


.pet-sex {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.pet-birthday {
    border-top: #b7d2ff solid 1px;
    border-bottom: #b7d2ff solid 1px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: row;
}

.pet-first-name {
    padding: 3px 10px;
    min-width: 120px;
    text-align: right;
    font-weight: bold;
    border-right: #b7d2ff solid 1px;
    align-items: normal;
}

.pet-last-name{
    padding: 3px 10px;
    align-items: normal;
}



.course-pagination {
    border-top: 1px solid #e4f1fe;
    border-left: none;
    border-right: none;
    padding-top: 10px;
}

.course-pagination div {
    width: 100%;
    text-align: right;
    font-size: 0.8em;
}

.course-pagination  a {
    border-radius: 3px;
    border: 1px solid #e4f1fe;
    width: 20px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}